<% action = (action == :login ? session_url : users_url) %>

<form action="<%= action %>" method="post">
  
  <label for="user_name">Username</label>
  <input
    type="text"
    name="user[user_name]"
    id="user_name"
    value="<%= user.user_name %>">
    
  <label for="user_password">Password</label>
  <input
    type="password"
    name="user[password]"
    id="user_password"
    value="<%= user.password %>">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <% submit_text = (action == :login ? 'Log in' : 'Create') + ' user!' %>
  <input type="submit" value="<%= submit_text %>">
</form>
